{% extends 'composter_Base.html' %}

{% load static %}



{% block content %}

<link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.3/dist/leaflet.css" integrity="sha256-kLaT2GOSpHechhsozzB+flnD+zUyjE2LlfWPgU04xyI=" crossorigin="" />
<script src="https://unpkg.com/leaflet@1.9.3/dist/leaflet.js" integrity="sha256-WBkoXOwTeyKclOHuWtc+i2uENFpDZ9YPdf5Hf+D7ewM=" crossorigin=""></script>

<style>

    #left-paper{
        background-color: #857B63;
    }

    #left-paper h1 {
        font-family: 'Open Sans';
        font-size: 48px;
        color: white;
    }

    #h1-greener-word {
        color: #700000;
    }
    
    #logo {
        color: #B6A885;
        width: 48px;
    }

    #composter-form {
        width: 30vw;
    }

    .form-label {
        font-size: 24px;
        font-family: 'Lato';
        color: #7E7E7E;
    }
    
    .form-control {
        height: 56px;
        border-radius: 0px;
    }

    #c-desc, #s-desc {
        font-size: 24px;
        color:#8B8B8B ;
    }

    #s-desc {
        margin-bottom: 32px;
        margin-top: 0px;
    }

    .arrows {
        margin-top: 16px;
    }

    #next-pick-location, #hidden-arrow, #go-back-fill-form, #next-pick-composter, #go-back-pick-location {
        width: 64px;
        margin:1vw;
    }

    #hidden-arrow {
        visibility: hidden;
    }


    #submit-button {
        font-family: 'Open Sans';
        color: white;
        border: 0;
        width: 200px;
        height: 60px;
        background: #20E200;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 8px;
    }

</style>

<div class="container-fluid">

    <div class="row" style="height : 100vh">
        <div class="col-4 d-flex align-items-center justify-content-center" id="left-paper">
            <h1 class="mb-0"><span id="h1-greener-word">COMPOSTER</span> SIGNUP PAGE</h1>
        </div>


        <div class="col-8 d-flex align-items-center justify-content-center">



            <form action="" id="composter-form" class="row g-3 mb-0" method="POST">
                {% csrf_token %}
                <div class="col-12 d-flex justify-content-center align-items-center"><img id="logo"
                        src="{% static '/images/leaf.svg' %}"></div>
                <div class="col-12 d-flex justify-content-center align-items-center" id="c-desc">Create an account</div>
                <div class="col-12 d-flex justify-content-center align-items-center" id="s-desc">Signup to get started
                    with an account</div>

                <div class="col-md-6">
                    <label for="{{ form.OrganizationName.OrganizationName }}" class="form-label">Organization
                        Name</label>
                    {{ form.OrganizationName }}
                </div>
                <div class="col-md-6">
                    <label for="{{ form.CommunityName.CommunityName }}" class="form-label">Community Name</label>
                    {{ form.CommunityName }}
                </div>
                <div class="col-12">
                    <label for="{{ form.Email.Email }}" class="form-label">Email</label>
                    {{ form.Email }}
                </div>
                <div class="col-12">
                    <label for="{{ form.password.password }}" class="form-label">Password</label>
                    {{ form.password }}
                </div>
                <div class="col-12">
                    <label for="{{ form.PhoneNumber.PhoneNumber }}" class="form-label">Phone Number</label>
                    {{ form.PhoneNumber }}
                </div>
                {{ form.Location }}
                <div id="alert-container"></div>
                <div class="col-12  d-flex justify-content-center align-items-center">
                    <div class="arrows">
                        <img id="hidden-arrow" class="arrow"
                            src="{% static 'images/arrow-left-square-fill-Greener.svg' %}">
                        <img id="next-pick-location" class="arrow"
                            src="{% static 'images/arrow-right-square-fill-Greener.svg' %}">
                    </div>
                </div>

            </form>

                <div id="pick-location-map" style="display: none; width:40vw;">
                    <div class="col-12 d-flex justify-content-center align-items-center"><img  id="logo" src="{% static '/images/leaf.svg' %}" ></div>
                            <div class="col-12 d-flex justify-content-center align-items-center" id="c-desc">Create an account</div>
                            <div class="col-12 d-flex justify-content-center align-items-center" id="s-desc">Signup to get started with an account</div>
                            <div class="col-12 d-flex justify-content-center align-items-center" id="c-desc">Pick location</div>
                    <div id="map" style="height: 450px; border-radius:16px;"></div>
                    <div class="col-12 d-flex justify-content-center align-items-center">
                        <div class="arrows">
                        <img  id="go-back-fill-form" class="arrow" src="{% static 'images/arrow-left-square-fill-Greener.svg' %}">
                        <button id="submit-button" type="submit" form="composter-form">Submit</button>
                        </div>
                    </div>
                </div>
        </div>
    </div>
</div>


<script>

    var form = document.getElementById('composter-form');
    var nextPickLocationButton = document.getElementById('next-pick-location');
    var pickLocationMap = document.getElementById('pick-location-map');
    var goBackFillFormButton = document.getElementById('go-back-fill-form');
    
    nextPickLocationButton.addEventListener('click', async function () {
        // Hide the form and show the pick location map page
        if( await validateForm())
        {
        form.style.display = 'none';
        pickLocationMap.style.display = 'block';
        map.invalidateSize();
        }
    });

    
    goBackFillFormButton.addEventListener('click', function() {
        // Show the form and hide the pick location map page
        pickLocationMap.style.display = 'none';
        form.style.display = 'flex';
    });











    /*------------------------------------------------------*/

    var map = L.map('map', {
        doubleClickZoom: false
      }).setView([51.505, -0.09], 13);
      
      L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
          attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
      }).addTo(map);
      

    var marker;

    function addMarker(latlng) {
        if (marker) {
            map.removeLayer(marker);
            marker = null;
        }
        marker = L.marker(latlng, { draggable: true }).addTo(map);
        marker.on('dragend', function(e) {
            updateLocationField(marker.getLatLng());
        });
        marker.on('dblclick', function(e) {
            map.removeLayer(marker);
            marker = null;
            updateLocationField(null);
        });
        updateLocationField(latlng);
    }

    function updateLocationField(latlng) {
        var locationField = document.getElementById('location');
        if (latlng) {
            locationField.value = 'POINT(' + latlng.lng + ' ' + latlng.lat + ')';
        } else {
            locationField.value = '';
        }
    }

    map.on('dblclick', function(e) {
        addMarker(e.latlng);
    });


    //form validator

    function showAlert(message, type) {
        const alertContainer = document.getElementById("alert-container");
        const alertTemplate = `
        <div class="alert alert-${type} alert-dismissible fade show" role="alert">
            ${message}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    `;
        alertContainer.innerHTML = alertTemplate;
    }


    async function checkEmail() {
        const email = document.getElementById("email").value;
      
        try {
          const response = await fetch("/Greener/checkEmail/", {
            method: "POST",
            headers: {
              "Content-Type": "application/json",
              'X-CSRFToken': '{{ csrf_token }}',
            },
            body: JSON.stringify({ 'email': email })
          });
      
          const data = await response.json();
      
          if (data.exists) {
            console.log("exist");
            return true;
          } else {
            console.log("does not exist");
            return false;
          }
        } catch (error) {
          console.error("Error:", error);
          return false;
        }
      }






    async function validateForm() {
        const communityName = document.getElementById("community-name");
        const organizationName = document.getElementById("organization-name");
        const password = document.getElementById("password");
        const phoneNumber = document.getElementById("phone-number");
        const email = document.getElementById("email");
    
        const nameRegex = /^[a-zA-Z\s]+$/;
        const phoneNumberRegex = /^(2|5|7|9)\d{7}$/;
        const emailRegex = /^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$/;
    
        let isValid = true;
    
    
        if (!phoneNumberRegex.test(phoneNumber.value)) {
            showAlert("Invalid phone number.", "danger");
            phoneNumber.classList.add("is-invalid");
            isValid = false;
        } else {
            phoneNumber.classList.remove("is-invalid");
        }

        if (!password.value) {
            showAlert("Password cannot be empty.", "danger");
            password.classList.add("is-invalid");
            isValid = false;
          } else {
            password.classList.remove("is-invalid");
          }
    
        if (!emailRegex.test(email.value) || await checkEmail()) {
            console.log(checkEmail())
            showAlert("Invalid email or email already exists.", "danger");
            email.classList.add("is-invalid");
            isValid = false;
        } else {
            email.classList.remove("is-invalid");
        }

        if (!communityName.value || !nameRegex.test(communityName.value)) {
            showAlert("Community name cannot be empty and should not contain special characters.", "danger");
            communityName.classList.add("is-invalid");
            isValid = false;
        } else {
            communityName.classList.remove("is-invalid");
        }

        if (!organizationName.value || !nameRegex.test(organizationName.value)) {
            showAlert("Organization name cannot be empty and should not contain special characters.", "danger");
            organizationName.classList.add("is-invalid");
            isValid = false;
        } else {
            organizationName.classList.remove("is-invalid");
        }
    
    
        return isValid;
    }


</script>

{% endblock %}